/*色*/
$prime: #325a8f;
$second: #179da6;
$tres: #e7ecef;
$gray: #707070;
$red: #fa8072;
$orange: #dc6f0f;
$dark-blue: #001e43;
$yellow: #f5cb38;
$white: #ffffff;

/*背景画像*/
$hero-main: url(../img/kango-cut-003.jpg);

/*メディアクエリ*/
$tab-pro: 1200px; // PC
$tab: 780px; // タブレット
$sp: 560px; // スマホ

/*width*/

//pc
$pc-max: 1920;
$pc-large: 1280;
$pc-mid: 920;
