@import "mixin.scss";

#hero {
  @include fCol(center, center);
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 180px);
  max-height: 100%;
  background-color: $prime;
  background-image: $hero-main;
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: 98% 98%;
  position: sticky;
  top: 0;
  z-index: -10;
  // border: gold solid 0.5px;
  .site-title {
    @include fCol(center, center);
    font-family: "oshidashi-m-gothic", sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%;
    position: relative;
    h1 {
      font-size: #{"clamp(3.8rem, 3.56rem + 1.2vw, 5rem)"};
      font-weight: 600;
      letter-spacing: 0.5rem;
      text-align: center;
      color: $white;
      margin-bottom: #{"clamp(1.5rem, 1.4rem + 0.5vw, 2rem)"};
    }
    p {
      font-size: #{"clamp(2.8rem, 2.66rem + 0.7vw, 3.5rem)"};
      font-weight: 300;
      text-align: center;
      color:$white;
    }
    //tablet 
    @include tablet {
      h1 {
        position: absolute;
        top: 35%;
      }
      p {
        position: absolute;
        top: 45%;
      }
    }
    // sp
    @include sp {
      h1 {
        position: absolute;
        top: 25%;
      }
      p {
        position: absolute;
        top: 32%;
      }
    }
  }
  // tabPro
  @include tabPro {
    background-size: 16%;
    background-position: 100% 100%;
  }
  // tablet
  @include tablet {
    background-size: 21%;
    background-position: 50% 100%;
  }
  // sp
  @include sp {
    background-size: 30%;
  }
}

#web {
  @include fCol(center, center  );
  width: 100%;
  height: 100%;
}

#illustration {
  @include fCol(center, center);
  width: 100%;
  height: 100%;
}

#video {
  @include fCol(center, center);
  width: 100%;
  height: 100%;
}

#other {
  @include fCol(center, center);
  width: 100%;
  height: 100%;
}

.section-wrap {
  width: 100%;
  .menu-band {
    @include fCol(center, center);
    width: 100%;
    height: 45px;
    min-height: 45px;
    text-align: center;
    background-color: $white;
    border: $prime solid 2px;
    border-bottom: none;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.45s;
    z-index: 30;
    h5 {
      font-size: #{"clamp(1.6rem, 1.56rem + 0.2vw, 1.8rem)"};
      font-weight: 500;
      color: $prime;
    }
    &:hover {
      background-color: $prime;
      border-top: $white solid 2px;
      h5 {
        color: $white;
      }
    }
    &.active {
      background-color: $prime;
      border-top: $white solid 2px;
      position: sticky;
      top: 0;
      h5 {
        color: $white;
      }
    }
  }

  .p-cont {
    @include fCol(center, center);
    width: 100vw;
    max-width: 100%;
    height: 0vh;
    max-height: 0%;
    padding: 0;
    opacity: 0;
    background-color: $tres;
    border-left: $prime solid 2px;
    border-right: $prime solid 2px;
    transition: all ease-in-out 0.45s;
    
      .outer-swipe {
        position: relative;
        overflow: hidden;
      }

      &.open {
        height: 100vh;
        max-height: 100%;
        padding: #{"clamp(1rem, 0.8rem + 1vw, 2rem)"};
        opacity: 1;
        .outer-swipe {
          width: 98rem;
          max-width: 100%;
          height: 85%;
          max-height: 100%;
          // aspect-ratio: 4 / 3;
          overflow: hidden;
          .swiper-wrapper {
            .swiper-slide {
              width: 100%;
              max-width: 100%;
              .inner {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                &.web {
                  @include fCol(center, center);
                    .inner-img {
                      @include fCol(center, center);
                      width: 100%;
                      height: 50%;
                      padding: 1rem;
                      // background-color: $white;
                      img {
                        max-height: 100%;
                        aspect-ratio: 16 / 9;
                      }
                      // tablet
                      @include tablet {
                        height: 40%;
                      }
                    }
              
                  .inner-disc {
                    width: 100%;
                    height: 50%;
                    // background-color: $white;
                    padding: #{"clamp(0.5rem, 0.44rem + 0.3vw, 0.8rem)"};
                    h3 {
                      // font-size: #{"clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem)"};
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 3rem;
                      margin-bottom: #{"clamp(0.5rem, 0.44rem + 0.3vw, 0.8rem)"};
                      a {
                        color: $prime;
                        transition: all ease-in-out .45s;
                        &:hover {
                          color: $red;
                        } 
                      }
                    }
                    .cap-wrap {
                      @include fRow(flex-start, flex-start);
                      .tech {
                        @include fRow(center, flex-start);
                        width: 50%;
                        max-width: 100%;
                        .env {
                          width: 50%;
                          max-width: 100%;
                          margin-left: 2rem;
                          h4 {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            font-weight: 600;
                          }
                          ul {
                            padding-inline-start: initial !important;
                            li {
                              font-size: 1.4rem;
                              font-weight: 500;
                              margin-bottom: 0.7rem;
                            }
                          }
                        }
                        .handle {
                          width: 50%;
                          max-width: 100%;
                          margin-left: 2rem;
                          h4 {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            font-weight: 600;
                          }
                          ul {
                            padding-inline-start: initial !important;
                            li {
                              // font-size: #{"clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem)"};
                              font-size: 1.4rem;
                              font-weight: 500;
                              margin-bottom: 0.7rem;
                            }
                          }
                        }
                      }
                      .cap {
                        width: 50%;
                        max-width: 100%;
                        padding: #{"clamp(0.5rem, 0.4rem + 0.5vw, 1rem)"};
                        p {
                          // font-size: #{"clamp(1rem, 0.96rem + 0.2vw, 1.2rem)"};
                          font-size: 1.4rem;
                          line-height: 2.4rem;
                        }
                      }
                    }
                    // tablet
                    @include tablet {
                      height: 60%;
                      .cap-wrap {
                        flex-direction: column;
                        .tech {
                          width: 100%;
                        }
                        .cap {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
                &.illust {
                  @include fRow(flex-start, flex-start);
                  flex-wrap: wrap;
                  // border: purple solid 0.5px;
                  padding: #{"clamp(0.5rem, 0.4rem + 0.5vw, 1rem)"};
                  .inner-img {
                    @include fCol(center, center);
                    width: 50%;
                    height: 50%;
                    padding: 1rem;
                    // border: red solid 0.5px;
                    img {
                      max-height: 100%;
                    }
                  }
                  .inner-disc {
                    width: 50%;
                    height: 50%;
                    padding: 1rem;
                    h3 {
                      // font-size: #{"clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem)"};
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 3rem;
                      margin-bottom: #{"clamp(0.5rem, 0.44rem + 0.3vw, 0.8rem)"};
                    }
                    ul {
                      li {
                        // font-size: #{"clamp(1rem, 0.96rem + 0.2vw, 1.2rem)"};
                        font-size: 1.4rem;
                        margin-bottom: 0.7rem;
                      }
                    }
                  }
                  .inner-swipe {
                    display: block;
                    width: 100%;
                    height: 50%;
                    // border: yellow solid 0.5px;
                    overflow: hidden;
                    .swiper-wrapper {
                      .swiper-slide {
                        @include fCol(center, center);
                        width: 100%;
                        max-width: 100%;
                        // overflow: hidden;
                        img {
                          width: 100%;
                          max-width: 100%;
                          object-fit: contain;
                          overflow: hidden;
                        }
                      }
                    }
                  }
                }
                &.video {
                  @include fCol(flex-start, center);
                  // border: red solid 0.5px;
                  .video-area {
                    position: relative;
                    width: 100%;
                    // height: 0;
                    // padding-bottom: 56.25%;
                    //動画比率が16:9なので56.25%となります
                    aspect-ratio: 16 / 9;
                    overflow: hidden;
                    margin-bottom: 1rem;
                    iframe {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                    video {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                  }
                  .v-title {
                    width: 100%;
                    h3 {
                      // font-size: #{"clamp(1.6rem, 1.56rem + 0.2vw, 1.8rem)"};
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 3rem;
                      margin: 0 1.5rem 1rem 1.5rem;
                    }
                  }
                  .disc-area {
                    @include fRow(flex-start, flex-start);
                    width: 100%;
                    margin: 1rem 2rem;
                    height: 30%;
                    // border: blue solid 0.5px;
                    .tech-side {
                      width: 50%;
                      max-width: 100%;
                      margin: 0 2rem;
                      h4 {
                        // font-size: #{"clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem)"};
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: initial;
                      }
                      ul {
                        li {
                          // font-size: #{"clamp(1rem, 0.96rem + 0.2vw, 1.2rem)"};
                          font-size: 1.4rem;
                          font-weight: 500;
                          margin-bottom: 0.7rem;
                        }
                      }
                    }
                    .cap-side {
                      width: 50%;
                      max-width: 100%;
                      p {
                        // font-size: #{"clamp(1rem, 0.96rem + 0.2vw, 1.2rem)"};
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                      }
                    }
                    .tech-side {
                      width: 100%;
                    }
                    .cap-side {
                      width: 100%;
                    }
                    //tabPro
                    @include tabPro {
                      height: 40%;
                    }
                    // tablet
                    @include tabPro {
                      flex-direction: column;
                      height: 50%;
                      .tech-side {
                        width: 100%;
                      }
                      .cap-side {
                        width: 100%;
                      }
                    }
                  }
                }
                &.other {
                  @include fCol(center, center);
                  .other-wrap {
                    @include fCol(center, center);
                    width: 100%;
                    max-width: 78rem;
                    height: 100%;
                    h3 {
                      font-size: #{"clamp(2.8rem, 2.509rem + 1.45vw, 3.6rem)"};
                      font-weight: 600;
                      border-bottom: none;
                      margin-bottom: 3rem;
                    }
                    .other-main {
                      img {
                        width: 100%;
                        max-width: 48rem;
                      }
                    }
                  }
                }
              }
            }
          }
          // tabPro
          @include tabPro {
            width: 75%;
            aspect-ratio: 2 / 2.5;
            .swiper-wrapper {
              .swiper-slide {
                .inner {
                  @include fCol(center, center);
                  flex-wrap: nowrap;
                  .inner-img {
                    width: 100%;
                    max-width: 100%;
                    height: 25%;
                  }
                  .inner-disc {
                    width: 100%;
                    max-width: 100%;
                    height: 25%;
                  }
                }
              }
            }
          }
          // sp
          @include sp {
            width: 95%;
            //aspect-ratio: 9 / 16;
          }
        }
      }
  }
}

// swiper 独自css
.swiper-button-next,
.swiper-button-prev {
  color: $prime !important;
  position: absolute !important;
  top: 25% !important;
}
